@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap");

.about-section {
  padding-top: 15rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Kanit", sans-serif;
}

.about--container {
  width: 70%;
}

.who--line,
.story--line {
  width: 5px;
  height: 94px;
  background-color: rgba(46, 94, 170, 0.3);
  margin: 1.5rem 0;
}

.who--heading,
.story--heading {
  font-size: 2rem;
  font-weight: 500;
}

.who--text,
.story--text {
  font-size: 1.1rem;
  font-weight: 300;
}

.story--container {
  margin-top: 2rem;
}
